<!-- ====== Screenshots Section ====== -->
    <section id="screenshots">
      <div class="screenshots section-padding dark-bg">
        <div class="container">

          <div class="header">
            <h1>App Screenshots</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nesciunt eos, ipsum id, architecto velit sequi fuga minima commodi, porro vitae officiis, voluptatibus minus voluptates ab. Dolore, dolor repellat quasi.</p>
            <div class="underline"><i class="fa fa-image"></i></div>
          </div>

          <div class="owl-carousel owl-theme">
            <div class="item">
              <%= image_tag('app.jpg') %>
            </div> <!-- end item -->
            <div class="item">
              <%= image_tag('app2.jpg') %>
            </div> <!-- end item -->
            <div class="item">
              <%= image_tag('app.jpg') %>
            </div> <!-- end item -->
            <div class="item">
              <%= image_tag('app2.jpg') %>
            </div> <!-- end item -->
            <div class="item">
              <%= image_tag('app.jpg') %>
            </div> <!-- end item -->
            <div class="item">
              <%= image_tag('app2.jpg') %>
            </div> <!-- end item -->
          </div> <!-- end owl carousel -->

        </div> <!-- .container -->
      </div> <!-- end .screenshots -->  
    </section>
    <!-- ====== End Screenshots Section ====== -->